html
{
    background-color:aqua;
    padding : 0;
    margin : 0;
}

h1
{
    color : blue;
    text-decoration : underline;    
    text-align : center;
}

h2
{
    text-decoration : underline;
    color :tomato;
}

pre
{
    font-size: 18;
    text-align : center;
}

nav
{
    text-align : center
}

a
{
    text-decoration: none;
}

div
{
    display : flex;
}

.pic
{
    margin: 3%;
    justify-content: space-evenly;
}

.jobss
{
    justify-content: space-between;
}


.in
{
    background-color :grey;
}

::placeholder
{
    color: black;
}

.sub
{
    color: blue;
    background-color: blanchedalmond;
}


.cat
{
    font-size: 1.1rem;
}

.tb
{
    font-size: 1.2rem;
}

.fr
{
    font-size: 1.05rem;
}
