h1
{
    color : Blue;
    text-align : center;
    text-decoration : underline;
}

h2
{
    color :chocolate;;
}

html
{
    background-color: #8EDCE6;
}

table
{
    background-color : yellowgreen;
    color : black;
}

.onee
{
    display : flex;
}